In [ ]:
#Titanic Data Preprocessing
#Step 1:Import lib
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Step 2: Load the titanic datastet

titanicdf=pd.read_csv("titanic.csv")
#Replace with correct
titanicdf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#Step3:Show basic info and check missing values
print(titanicdf.info())
print(titanicdf.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
titanicdf['Age'].fillna(titanicdf['Age'].mean(),inplace=True)

/tmp/ipython-input-259310994.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanicdf['Age'].fillna(titanicdf['Age'].mean(),inplace=True)

In [ ]:
titanicdf

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

In [ ]:
#filling missing values in cabin
#titanicdf['Cabin'].fillna(titanicdf['Cabin'].mode(),inplace=True)

/tmp/ipython-input-1296598996.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanicdf['Cabin'].fillna(titanicdf['Cabin'].mode(),inplace=True)

In [ ]:
titanicdf['Cabin'] = titanicdf['Cabin'].fillna('Unknown')
titanicdf['Cabin'] = titanicdf['Cabin'].apply(lambda x: x[0])

In [ ]:
titanicdf

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.000000      1      0   7.2500     B        S
1           1       1  female  38.000000      1      0  71.2833     C        C
2           1       3  female  26.000000      0      0   7.9250     G        S
3           1       1  female  35.000000      1      0  53.1000     C        S
4           0       3    male  35.000000      0      0   8.0500     U        S
..        ...     ...     ...        ...    ...    ...      ...   ...      ...
886         0       2    male  27.000000      0      0  13.0000     U        S
887         1       1  female  19.000000      0      0  30.0000     B        S
888         0       3  female  29.699118      1      2  23.4500     U        S
889         1       1    male  26.000000      0      0  30.0000     C        C
890         0       3    male  32.000000      0      0   7.7500     U        Q

[891 rows x 9 columns]

In [ ]:
#Step 4:Missing Values

#Fill Age with median
titanicdf['Age'].fillna(titanicdf['Age'].median(),inplace=True)

/tmp/ipython-input-4104818991.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanicdf['Age'].fillna(titanicdf['Age'].median(),inplace=True)

In [ ]:
titanicdf

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.000000      1      0   7.2500     B        S
1           1       1  female  38.000000      1      0  71.2833     C        C
2           1       3  female  26.000000      0      0   7.9250     G        S
3           1       1  female  35.000000      1      0  53.1000     C        S
4           0       3    male  35.000000      0      0   8.0500     U        S
..        ...     ...     ...        ...    ...    ...      ...   ...      ...
886         0       2    male  27.000000      0      0  13.0000     U        S
887         1       1  female  19.000000      0      0  30.0000     B        S
888         0       3  female  29.699118      1      2  23.4500     U        S
889         1       1    male  26.000000      0      0  30.0000     C        C
890         0       3    male  32.000000      0      0   7.7500     U        Q

[891 rows x 9 columns]

In [ ]:
#Step5 Drop Irrelevant or Redundant Columns
#drop passengerId,Name,Ticket(not useful for ML directly)
titanicdf.drop(['PassengerId','Name','Ticket'],axis=1,inplace=True)

KeyError: "['PassengerId', 'Name', 'Ticket'] not found in axis"

In [ ]:
#Step6 Encode categorical variables

#Use LabelEncoder for Sex, Embarked, and Cabin(simplified)
le=LabelEncoder()

titanicdf['Sex']=le.fit_transform(titanicdf['Sex'])
#male=1,female=0

In [ ]:
titanicdf

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Cabin  Embarked
0           0       3    1  22.000000      1      0   7.2500     B         2
1           1       1    0  38.000000      1      0  71.2833     C         0
2           1       3    0  26.000000      0      0   7.9250     G         2
3           1       1    0  35.000000      1      0  53.1000     C         2
4           0       3    1  35.000000      0      0   8.0500     U         2
..        ...     ...  ...        ...    ...    ...      ...   ...       ...
886         0       2    1  27.000000      0      0  13.0000     U         2
887         1       1    0  19.000000      0      0  30.0000     B         2
888         0       3    0  29.699118      1      2  23.4500     U         2
889         1       1    1  26.000000      0      0  30.0000     C         0
890         0       3    1  32.000000      0      0   7.7500     U         1

[891 rows x 9 columns]

In [ ]:
titanicdf['Embarked']=le.fit_transform(titanicdf['Embarked']) #C=0,Q=1,S=2

In [ ]:
titanicdf

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Cabin  Embarked
0           0       3    1  22.000000      1      0   7.2500     B         2
1           1       1    0  38.000000      1      0  71.2833     C         0
2           1       3    0  26.000000      0      0   7.9250     G         2
3           1       1    0  35.000000      1      0  53.1000     C         2
4           0       3    1  35.000000      0      0   8.0500     U         2
..        ...     ...  ...        ...    ...    ...      ...   ...       ...
886         0       2    1  27.000000      0      0  13.0000     U         2
887         1       1    0  19.000000      0      0  30.0000     B         2
888         0       3    0  29.699118      1      2  23.4500     U         2
889         1       1    1  26.000000      0      0  30.0000     C         0
890         0       3    1  32.000000      0      0   7.7500     U         1

[891 rows x 9 columns]

In [ ]:
#For 'Cabin', simplify to just first letter(deck)
#titanicdf['Age']=titanicdf['Age'].apply(lambda x: x[0]) #Eg, C123..gives..C

In [ ]:
#For 'Cabin', simplify to just first letter(deck)
titanicdf['Cabin']=titanicdf['Cabin'].apply(lambda x: x[0]) #Eg, C123..gives..C

In [ ]:
titanicdf['Cabin']=le.fit_transform(titanicdf['Cabin'])

In [ ]:
titanicdf

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Cabin  Embarked
0           0       3    1  22.000000      1      0   7.2500      1         2
1           1       1    0  38.000000      1      0  71.2833      2         0
2           1       3    0  26.000000      0      0   7.9250      6         2
3           1       1    0  35.000000      1      0  53.1000      2         2
4           0       3    1  35.000000      0      0   8.0500      8         2
..        ...     ...  ...        ...    ...    ...      ...    ...       ...
886         0       2    1  27.000000      0      0  13.0000      8         2
887         1       1    0  19.000000      0      0  30.0000      1         2
888         0       3    0  29.699118      1      2  23.4500      8         2
889         1       1    1  26.000000      0      0  30.0000      2         0
890         0       3    1  32.000000      0      0   7.7500      8         1

[891 rows x 9 columns]

In [ ]:
#Final Check
#Confirm all preprocessing

print(titanicdf.head())
print(titanicdf.info())
print(titanicdf.isnull().sum())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      1         2
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      6         2
3         1       1    0  35.0      1      0  53.1000      2         2
4         0       3    1  35.0      0      0   8.0500      8         2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Cabin     891 non-null    int64
 8   Embarked  891 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 62.8 KB
None
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [ ]:
#Using .iloc[] with Titanic Dataset
titanicdf.iloc[0:5]

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      1         2
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      6         2
3         1       1    0  35.0      1      0  53.1000      2         2
4         0       3    1  35.0      0      0   8.0500      8         2

In [ ]:
titanicdf.iloc[0]

Survived     0.00
Pclass       3.00
Sex          1.00
Age         22.00
SibSp        1.00
Parch        0.00
Fare         7.25
Cabin        1.00
Embarked     2.00
Name: 0, dtype: float64

In [ ]:
titanicdf.iloc[0,1]

np.int64(3)

In [ ]:
titanicdf.iloc[0:5,0:3]

   Survived  Pclass  Sex
0         0       3    1
1         1       1    0
2         1       3    0
3         1       1    0
4         0       3    1

In [ ]:
titanicdf.iloc[0:5,0:3]

   Survived  Pclass  Sex
0         0       3    1
1         1       1    0
2         1       3    0
3         1       1    0
4         0       3    1

In [ ]:
titanicdf.iloc[::2]

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Cabin  Embarked
0           0       3    1  22.000000      1      0   7.2500      1         2
2           1       3    0  26.000000      0      0   7.9250      6         2
4           0       3    1  35.000000      0      0   8.0500      8         2
6           0       1    1  54.000000      0      0  51.8625      4         2
8           1       3    0  27.000000      0      2  11.1333      8         2
..        ...     ...  ...        ...    ...    ...      ...    ...       ...
882         0       3    0  22.000000      0      0  10.5167      8         2
884         0       3    1  25.000000      0      0   7.0500      8         2
886         0       2    1  27.000000      0      0  13.0000      8         2
888         0       3    0  29.699118      1      2  23.4500      8         2
890         0       3    1  32.000000      0      0   7.7500      8         1

[446 rows x 9 columns]

In [ ]:
titanicdf.iloc[:,2]

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [ ]:
titanicdf.iloc[-3:]

     Survived  Pclass  Sex        Age  SibSp  Parch   Fare  Cabin  Embarked
888         0       3    0  29.699118      1      2  23.45      8         2
889         1       1    1  26.000000      0      0  30.00      2         0
890         0       3    1  32.000000      0      0   7.75      8         1

In [ ]:
print(titanicdf.iloc[0:5,0:3])

   Survived  Pclass  Sex
0         0       3    1
1         1       1    0
2         1       3    0
3         1       1    0
4         0       3    1

In [ ]:
print("age of second passenger")
titanicdf.iloc[1,2]

age of second passenger

np.int64(0)

In [ ]:
print("Last 3 rows:")
print(titanicdf.iloc[-3:])

Last 3 rows:
     Survived  Pclass  Sex        Age  SibSp  Parch   Fare  Cabin  Embarked
888         0       3    0  29.699118      1      2  23.45      8         2
889         1       1    1  26.000000      0      0  30.00      2         0
890         0       3    1  32.000000      0      0   7.75      8         1

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
#TSales data Dataset Preprocessing
#Step 2: Load salesdataset

#df=pd.read_csv("sales_data_sample.csv")

In [ ]:
df = pd.read_csv("sales_data_sample.csv", encoding="latin1")

In [ ]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [ ]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None
ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [ ]:
#fill age with median
df['PRICEEACH'].fillna(df['PRICEEACH'].median(),
inplace=True)

/tmp/ipython-input-1491980170.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PRICEEACH'].fillna(df['PRICEEACH'].median(),

In [ ]:
df['ORDERNUMBER'].fillna(df['ORDERNUMBER'].mode()[0],inplace=True)

/tmp/ipython-input-4087475670.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ORDERNUMBER'].fillna(df['ORDERNUMBER'].mode()[0],inplace=True)

In [ ]:
df['ORDERNUMBER'].fillna('Unknown',inplace=True)

/tmp/ipython-input-1711726536.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ORDERNUMBER'].fillna('Unknown',inplace=True)

In [ ]:
#df.drop(['ORDERNUMBER'],axis=1,inplace=True)

In [ ]:
if df['YEAR_ID'].isnull().sum()>0:
  df['YEAR_ID'].fillna(df['YEAR_ID'].median(),inplace=True)
  print(df)

In [ ]:
le=LabelEncoder()

In [ ]:
df['ORDERNUMBER']=le.fit_transform(df['ORDERNUMBER'])
df['PRICEEACH']=le.fit_transform(df['PRICEEACH'])

KeyError: 'ORDERNUMBER'

In [ ]:
for 'ORDERNUMBER', simplify to just first letter(deck)
df['ORDERNUMBER']=df['ORDERNUMBER'].apply(lambda x:x[0])
df['ORDERNUMBER']=le.fit_transform(df['ORDERNUMBER'])

SyntaxError: cannot assign to literal (ipython-input-1718443067.py, line 1)

In [ ]:
for 'PRICEEACH', simplify to just first letter(deck)
df['PRICEEACH']=df['PRICEEACH'].apply(lambda x:x[0])
df['PRICEEACH']=le.fit_transform(df['PRICEEACH'])

SyntaxError: cannot assign to literal (ipython-input-465580521.py, line 1)

In [ ]:
print(df.head())
print(df.info())
print(df.isnull().sum())

In [ ]:
df.iloc[0:5]